{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form method="POST">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        <legend class="text-center">
                            Enter New Password
                        </legend>
                        {{form | crispy}}
                    </fieldset>
                    <button class="btn btn-outline-secondary form-group" type="submit">Reset</button>
                </form>
                
            </div>
        </div>
    </div>
{% endblock content %}